html{
    height: auto;
}
.article{
    border: 1px #ffffff solid;
    box-shadow: 2px 2px gray;
    margin: 1%;
    padding: 1%;
}
.article-search{
    margin-left: 2%;
}
.article p a{
    color: #b38a09;
    text-decoration: none;
}
.article p a:hover{
    text-decoration: underline;
}
.article-add{
    cursor: pointer;
}
.article-add,.article-creation{
    padding-left: 2%;
}
.article-creation{
    display: none ;
}
.article-creation h3{
    text-align: center;
    text-decoration: underline;
}
.article-subject{
    border: 1px #ffffff solid;
    box-shadow: 2px 2px #959595;
    padding: 1%;
    width: 50%;
}
.article-author{
    font-size: 0.95em;
}
.navigation-links{
    text-align: center;
}
.login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #B05574, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative;
    top: 50%;
}
h4 {
    font-weight: bold;
    color: #fff;
}
.close {
    color: #fff;
    transform: scale(1.2)
}
.modal-content {
    font-weight: bold;
    background: linear-gradient(to bottom right,#F87E7B,#B05574);
}
.form-control {
    margin: 1em 0;
}
.form-control:hover, .form-control:focus {
    box-shadow: none;
    border-color: #fff;
}
.title, .subject {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;
}
