html{
    height: auto;
}
.article{
    margin: 1%;
    padding: 1%;
}
.article-search{
    margin-left: 2%;
}
.article-title{
    display: block;
    margin-bottom: 1%;
}
.article-author{
    margin-bottom: 1%;
}
.article-subject{
    border: 1px #ffffff solid;
    box-shadow: 2px 2px #959595;
    padding: 1%;
    width: 50%;
}
.article-author{
    font-size: 0.95em;
}
.navigation-links{
    text-align: center;
}
h4 {
    font-weight: bold;
    color: #fff;
}
div#editor{
    margin: 0;
    padding: 0;
}