html {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    color: #ffffff;
    background: linear-gradient(#2a3a55, #425c79) no-repeat;
}
main{
    margin: 2%;
    padding: 4%;
    background: rgba(0,0,0,.5);
    border-radius: 3px;
}
nav{
    padding: 0.5%;
}
footer .column a:hover{
    color: white;
}
