html {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    color: #ffffff;
    background-color: #2a3a55 !important;
}
main{
    margin: 2%;
    padding: 4%;
    border-radius: 3px;
}
nav{
    padding: 0.5%;
}
footer .column a:hover{
    color: white;
}
.dark-bg-transparent{
    background-color: rgba(0, 0, 0, 0.71) !important;
}