html{
    height: auto;
}
.discussion-add{
    display: block;
    cursor: pointer;
    text-align: right;
}
.discussion-creation{
    display: none;
}
.discussion-creation h3{
    text-align: center;
    text-decoration: underline;
}
