html{
    height: auto;
}
.discussion{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.discussion-creation h3{
    text-align: center;
    text-decoration: underline;
}
.navigation-links{
    text-align: center;
}
