html{
    height: auto;
}
.has-margin-top{
    margin-top: 2%;
}
.latest-articles,.hottest-discussions{
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.article-title{
    display: block;
    margin-bottom: 1%;
}
.article-author{
    margin-bottom: 1%;
}
.link:hover{
    color: #367dec;
}
.date-col{
    text-align: end;
}
@media only screen and (max-width: 772px){
    .date-col{
        text-align: unset;
    }
}