html{
    height: auto;
}
.latest-articles,.hottest-discussions{
    border: 1px #ffffff solid;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.article-title{
    display: block;
    margin-bottom: 1%;
}
.article-author{
    margin-bottom: 1%;
}