.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.other-login {
    margin: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
button{
    border: none;
    color: #fff;
    padding: 4%;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(#141e30, #243b55);
}
button:hover{
    background: linear-gradient(0deg, rgba(18,84,97,1) 0%, rgba(36,58,88,1) 50%, rgba(11,17,27,1) 100%);
    transition: all 0.5s ease 0s;
}
.register,.other{
    text-align: center;
}
.other{
    color: #cbd5e0;
}
.invalid-feedback{
    color: #F55;
    margin: 1%;
    text-align: center;
}
.register{
    margin: 3%;
    padding-top: 1%;
}
.register a{
    font-size: 0.9em;
    text-decoration: underline rgba(255, 255, 255, 0.28);
    color: #ffffff;
}
textarea{
    resize: none;
}
