/*html{*/
/*    overflow: hidden;*/
/*}*/
button{
    margin: 1%;
}
form{
    padding: 1%;
}
.other-login {
    position: center;
    margin-top: 4%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.other-login a{
    text-align: center;
}
.register,.other{
    text-align: center;
}
.register{
    margin: 3%;
    padding-top: 1%;
}
.register a:hover{
    color: #b38a09;
}
textarea{
    resize: none;
}
main{
    position: relative;
}
form .field{
    margin: auto;
}
form .control{
    text-align: center;
}
.hero-body{
    padding-top: 1em;
    padding-bottom: 1em;
}
.field{
    margin: 0.5em;
}
