html{
    height: auto;
}
.articles, .discussions{
    border: 1px rgba(0, 0, 0, 0.69) solid;
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}
.profile-photo{
    text-align: center;
}
#profile-update{
    display: none;
    margin-left: 0;
    margin-top: 2%;
}
.user-infos{
    border: 2px solid #fff;
    margin-bottom: 2%;
    padding: 1%;
}
.delete-profile{
    margin-top: 1%;
}
section form textarea{
    margin-bottom: 2%;
}